# OS junk files
*.DS_Store

# Cached files
.mypy_cache
.tox
.vscode

# datasets
tgApp/datasets/TETKO_embedded_all.pkl
tgApp/datasets/Tetko_melting_point.sdf

# Jupyter notebooks
tests/*.ipynb
tests/.ipynb_checkpoints

# Folders with wheels for pypi
build
dist
tgApp.egg-info