# OS junk files
*.DS_Store

# Cached files
.mypy_cache
.tox
.vscode

# datasets
tgboost/datasets/TETKO_embedded_all.pkl
tgboost/datasets/Tetko_melting_point.sdf
tgboost/datasets/BradleyDoublePlusGoodMeltingPointDataset_Highly_Curated_and_Validated.xlsx
tgboost/datasets/Koop_dataset_Rothfuss_t0_bis.csv

# Jupyter notebooks
tests/*.ipynb
tests/.ipynb_checkpoints

# Folders with wheels for pypi
build
dist
tgboost.egg-info

# Additional Files
**/SMILES_used_for_training.pkl
**/__pycache__
