# OS junk files
*.DS_Store

# Cached files
.mypy_cache
.tox
.vscode

# datasets
tgApp/datasets/TETKO_embedded_all.pkl
tgApp/datasets/Tetko_melting_point.sdf
tgApp/datasets/BradleyDoublePlusGoodMeltingPointDataset_Highly_Curated_and_Validated.xlsx
tgApp/datasets/Koop_dataset_Rothfuss_t0_bis.csv

# Jupyter notebooks
tests/*.ipynb
tests/.ipynb_checkpoints

# Folders with wheels for pypi
build
dist
tgApp.egg-info

# Additional Files
tgApp/SMILES_used_for_training.pkl
