include *.txt
include *.md
include *.pkl
recursive-include ./tgboost/*

include tgboost/datasets/*.csv
include tgboost/datasets/*.xlsx
include tgboost/trained_models/*.pkl
include tgboost/VERSION
include tgboost/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]