include *.txt
include *.md
include *.pkl
recursive-include ./tgApp/*

include tgApp/datasets/*.csv
include tgApp/datasets/*.xlsx
include tgApp/trained_models/*.pkl
include tgApp/VERSION
include tgApp/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]