include *.txt
include *.md
include *.pkl
recursive-include ./tg_regression_model/*

include tg_regression_model/datasets/*.csv
include tg_regression_model/datasets/*.xlsx
include tg_regression_model/trained_models/*.pkl
include tg_regression_model/VERSION
include tg_regression_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]